body {
  font-family: sans-serif;
  display: flex;
}

#app {
  width: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.range-field {
  width: 50vw;
}

.error {
  color: red;
}

.input-form {
  padding: 1vw;
}

.slider-right-label {
  float: right;
}
