body {
  font-family: Muli;
  display: flex;
  background-color: #faf6f0;
}

a.MuiButton-root-1.link.text {
  font-family: Poiret One;
  color: white;
  text-transform: none;
  padding: 0.85rem 1rem 1.1rem 1rem;
  margin: 2rem;
}

.MuiButton-label-2 {
  font-size: 0.9rem;
  letter-spacing: 2.7px;
  /* font-weight: bold; */
  text-transform: none;
  padding: 0.15rem 2rem 0.25rem 2rem;
  color: white;
}

.title {
  margin-top: 30px;
}

ul.link.text.poiret {
  margin: 1px;
}

div.row.center-align {
  padding-top: 2rem;
}

.underline {
  text-decoration: underline;
}

.button {
  color: white;
}

span {
  font-family: Poiret One;
}

img.hat {
  vertical-align: text-bottom;
}

.navblock {
  background-color: #ee9749;
}

#poiretTitle {
  font-family: Poiret One;
  font-weight: bold;
  letter-spacing: 15px;
}

.poiret {
  font-family: Poiret One;
  font-weight: bold;
  letter-spacing: 3px;
}

a:hover {
  color: black;
}

.containerNav {
  display: inline-block;
}

.link {
  color: white;
  padding: 0rem 3rem 0rem 3rem;
  vertical-align: baseline;
  /* background-color: orange; / */
}

.moodmancer {
  color: #fd6c49;
}

.textPink {
  /* color: #fd6c49; */
  color: white;
}

.marginform {
  padding: 1px;
}

#userHome {
  text-align: center;
}

#app {
  width: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.range-field {
  width: 50vw;
}

.error {
  color: red;
}

.info-message {
  font-size: 10px;
  color: red;
}

.info-button {
  border-radius: 30px;
  margin: 10px;
}

.input-form {
  padding: 1vw;
}

#about-page {
  margin: 3% 5% 5% 5%;
}

/* Breathing Box Styling */
#breathing-box {
  height: 30vh;
  text-align: center;
}

#breathe-block {
  background-image: radial-gradient(#ee9749, #faf6f0 60%);
  color: #faf6f0;
  padding: 5vh;
  margin: 2vh;
  border-radius: 50%;
  -webkit-transition: font-size 4s ease-in-out, width 2.7s ease-in-out,
    height 2.7s ease-in-out;
  -ms-transition: font-size 4s ease-in-out, width 2.7s ease-in-out,
    height 2.7s ease-in-out;
  transition: font-size 4s ease-in-out, width 2.7s ease-in-out,
    height 2.7s ease-in-out;
}

.breathe-in-block {
  font-size: 4vh;
  width: 60vh;
  height: 40vh;
  vertical-align: middle;
  text-align: center;
  border: none;
}

.breathe-out-block {
  font-size: 2vh;
  width: 40vh;
  height: 27vh;
  vertical-align: middle;
  text-align: center;
  border: none;
}

/* General CSS Animations */
/* .fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.slider-right-label {
  float: right;
}
